<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>EventGo</servlet-name>
		<servlet-class>com.efrei.eventGo.EventGoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventGo</servlet-name>
		<url-pattern>/eventgo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MySQL</servlet-name>
		<servlet-class>com.efrei.eventGo.MySQLServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MySQL</servlet-name>
		<url-pattern>/mysql</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>com.efrei.eventGo.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>com.efrei.eventGo.AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/AddServlet</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>com.efrei.eventGo.UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/UpdateServlet</url-pattern>
	</servlet-mapping>
	
	 	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.efrei.eventGo.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>LogupServlet</servlet-name>
		<servlet-class>com.efrei.eventGo.LogupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogupServlet</servlet-name>
		<url-pattern>/LogupServlet</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
